{% extends 'base.html.twig' %}

{% block title 'Les biens immobilier' %}

{% block body %}
    <div class="container">
        <h2>Tous les biens</h2>
        <div class="rox flex">
            {% for bien in biens %}
                <div class="col-3">
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('bien_visualiser', {id: bien.id, slug: bien.slug}) }}">{{ bien.titre }}</a>
                            </h5>
                            <p class="card-text">{{ bien.ville }} ({{ bien.codePostal }})</p>
                            <div class="text-primary">{{ bien.formatPrix }} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}